version: '3.1'
services:
  web:
    image: odoo:18.0-20251106
    depends_on:
      - db
    ports:
      - "8018:8069"
    volumes:
      - ./conf:/etc/odoo/
      - ./log/:/var/odoo
      - ./addons:/mnt/extra-addons
      - ./filestore:/var/lib/odoo/.local/share/Odoo/filestore/
  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
